
.container, #count, p {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  height: 100%;

}
h1{
    width: 100%;
     text-align: center;
}
#clock{
    height: 3em;
    width: 100%;
     text-align: center;
}
